:root {
  --hex-parent-height: 105px;
}

@font-face {
  font-family: 'SFProDisplayBold';
  src: url('tailwind/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF');
}

@font-face {
  font-family: 'SFProDisplayNormal';
  src: url('tailwind/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF');
}

@font-face {
  font-family: 'SFProTextNormal';
  src: url('tailwind/fonts/SFProText/SF-Pro-Text-Regular.otf');
}

body {
  @apply pt-14 xl:pl-80;
}
html
{
  width: 100%;
  height: 100%;
}
#app {
  @apply w-screen transition-position lg:w-auto;
}

.dropdown {
  @apply cursor-pointer;
}

.m-clipped, .m-clipped body {
  @apply overflow-hidden lg:overflow-visible;
}

.full-screen body {
  @apply p-0;
}
.bg-white-right-column
{
  background: white;
  padding: 15px 0 15px 15px;
  overflow-x: hidden;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
input:focus {outline: 0;}
.tags-custom
{
  padding: 4px 6px 4px 4px;
  border-radius: 5px;
  margin: 2px 2px 2px 2px;
  font-size: 12px;
  float: left;
  position: relative;
  display: flex;
  background: #F4F5F7;
}
.tags-custom.active
{
  background-color:#977DE3;
  color:white;
  cursor:pointer;
}
.tags-custom:hover, .tags-custom:hover svg
{
  cursor:pointer;
}
.tags-custom svg
{
  position:relative;
  top:3px;
  float: left;
  display: flex;
  font-size:18px;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  color:#9E9E9E;
}
.any-calendar
{

}
.any-list-custom
{
  padding: 4px 0px 4px 0px;
  position: relative;
  display: table-cell;
}
.any-list-custom svg
{
  border-radius:25%;
  color:#A6A6A6;
  left: 3px;
  width: 20px;
  height: 23px;
  top: 0;

}
.btn-calendar svg
{
  top:0;
}
.text-tags
{
  position:relative;
  top:-1px;
}
.img-responsive
{
  max-width:100%;
  height: auto;
  display: block;
}
.text-center
{
  text-align: center;
}
.chat-custom
{
  width:100%;
  padding-right: 10px;
  display: inline-block;
}
.user_customer_custom
{
  color:#9AB0D4;
  font-size: 16px;
  display: flex;
  width: 100%;
  position: relative;
  padding-right: 12px;
}
.user_child_customer_custom
{
  color:black;
  font-size: 16px;
  width: 100%;
  position: relative;
  padding-right: 12px;
}
.infocus-task
{
  position: absolute;
  right: 10px;
  top: 0;
}
.user_customer_custom svg
{
  width: 15px !important;
  height: 15px !important;
  position: relative;
  top: 1px;
}
.msg-custom-chat-left
{
  float: left;
  padding: 8px 10px;
  min-height:40px ;
  display: table-cell;
  max-width: 85%;
  min-width: 150px;
  border-top-right-radius:10px ;
  border-bottom-right-radius:10px ;
  border-bottom-left-radius:10px ;
}
.msg-custom-chat-right
{
  float: right;
  padding: 8px 10px;
  min-height:40px ;
  display: table-cell;
  max-width: 85%;
  min-width: 150px;
  border-top-left-radius:10px ;
  border-bottom-right-radius:10px ;
  border-bottom-left-radius:10px ;
}
.chat-main
{
  width: 100%;
  display: inline-block;
}
.time-chat
{
  text-align: right;
  font-size:12px;
  color:#A8AFCA;
}
.date-messages-chat
{
  font-size:13px;
  color:black;
}
.custom-list-tags
{
  width:100%;
  display: inline-block;
  padding-right: 5px;
  float: left;
}
.custom-list-tags .inline-block {
  margin: 0 0 0 0 !important;
  border: none !important;
  float: left;
}
.description-content
{
  width:100%;
  font-size:14px;
  padding-right: 5px;
  min-height: 100px;
  display: inline-block;
}
.description-content div:empty:before {
  content:attr(data-placeholder);
  color:gray
}
.taskName-custom div:empty:before {
  content:attr(data-placeholder);
  color:gray
}
.task-msg div:empty:before
{
  content:attr(data-placeholder);
  color:gray
}
.task-msg
{
  resize: none;
  min-height: 40px;
  max-height: 100px;
  box-sizing: border-box;
}
.list-files-custom
{
  width:100%;
  display: inline-block;
}
.list-files-custom-item
{
  width:100%;
  display: inline-block;
}
.chat-name-attach-left
{
  text-align: left;
  float: left;
  /* width: 100%; */
  display: flex;
}
.chat-author-custom-right
{
  text-align: right;
  float: right;
  /* width: 100%; */
  display: flex;
}
.file-custom_attach-left
{

  max-width: 200px;
  font-size: 13px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
  line-height: 18px;
  min-width: 200px;
  display: table-cell;

}
.file-custom_attach-left svg
{
  margin-right: 10px;
  padding: 5px;
  margin-top: 0;
  width: 34px;
  height: 34px;
  float: left;
}
.file-custom_attach-right
{
  font-size: 13px;
  border-top-left-radius:10px ;
  border-bottom-right-radius:10px ;
  border-bottom-left-radius:10px ;
  padding: 5px;
  line-height: 18px;
  min-width: 200px;
  display: table-cell;
  float: right;
  text-align: right;

}
.file-custom_attach-right svg
{
  margin-right: 5px;
  padding: 5px;
  margin-top:0px;
  width: 34px;
  height: 34px;
  float: left;
}
.name-chat-custom
{
  font-size:13px;
  color:#A6A6A6;
}
.name-chat-custom-margin
{
  margin-bottom: 5px;
}
.float-left
{
  float: left;
}
.float-right
{
  float: right;
}
.chat-author-custom-right
{
  text-align: right;
  float: right;
  /* width: 100%; */
  display: flex;
}
.chat-author-custom-left
{
  text-align: left;
  float: left;
}
.border-fotolink
{
  border-radius: 25%;
  border: none;
}
.custom-method
{

}
.date-section{
  width:100%;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
}

.divider {

  margin: -0.65em auto -0.45em;
  overflow: hidden;
  text-align: center;
  line-height: 1.1em;
}
.divider:before,
.divider:after {
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 0.65em;
  border-bottom: 1px solid #E5E5E5;
  margin: 0 2% 0 -55%;
}
.divider:after {
  margin: 0 -55% 0 2%;
}
.text-right
{
  text-align: right;
}
.text-employee-name
{
  font-size: 13px;
  color: #A6A6A6;
  margin-right: 10px;
}
.max-h-modal
{
  display: table;
}
.form-group {
  margin-bottom: 15px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}
.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  outline: none;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {

}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: white;
  border-left: 1px solid #fff;
  border-top:1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}
.btn-group-justife
{
  width: 100%;
}
.btn-clear-popover
{
  width: 90px;
  height: 25px;
  font-size: 11px;
  color:gray;
  float: left;
  margin-right: 5px;
  border-radius: 7px;
  border:1px solid gray;
}
.btn-close-popover
{
  color: gray;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 11px;
  display: none;
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
  top: 7px;
  border-radius: 25px;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background: #F4F5F7;
  animation-delay: -2s;
  opacity: 0;
  z-index: 9999;
  animation: ani 2.5s forwards;
}
.btn-close-popover svg
{
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
  padding: 2px;
  border-radius: 25px;
  border: 1px solid gray;
}
.project-hover-close
{

}
.project-hover-close:hover .btn-close-popover
{
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  animation-delay: -2s;
  display: block;
  height: 15px;
  z-index: 9999;
  animation: ani 0.4s forwards;
  transform: translateX(30%);
  opacity: 1;
}
@keyframes ani {
  0% {transform: translateX(30%);}
  100% {transform: translateY(0);}
}
.btn-save-popover
{
  width: 90px;
  height: 25px;
  color:gray;
  border-radius: 7px;
  margin: 0 auto;
  display: table;
  font-size: 11px;
  border:1px solid gray;
}
.popover-custom-access
{
  color:black;
}
.popover-padding-custom
{

  display: table;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
}
.title-popover-main
{
  background-color: white;
  display: table;
  /* width: 100%; */
  opacity: 1;
  line-height: 14px;
  position: relative;
  height: 34px;
  margin: 0 auto;
}
.title-popover-custom
{

  color:black;
  display: flex;

  font-size:13px;

  vertical-align: middle;
}
.dissmiss_popover {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 13px;
  cursor: pointer;
  color: black;
  display: flex;
}
.dissmiss_popover svg
{
  margin-right: 5px;

}
.title-z-popover
{
  margin-top: 7px;
  cursor: pointer;
}
.title-popover-custom svg
{
  border:3px solid #F5B049;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}
.title-project-custom {
  color: black;
  display: flex;
  font-size: 13px;
  vertical-align: middle;
  float: right;
}
.title-project-custom svg
{

  padding: 5px;
  margin-right: 10px;
}
.body-popover-custom
{
  background: #ffffff;
  color:black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.container-employee-popover
{
  height: 220px;
  overflow-y: auto;
  /* margin-top: 10px; */
  min-width: 220px;
}
.container-employee-popover::-webkit-scrollbar {
  width: 0px;
}

.container-employee-popover::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.container-employee-popover::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}
.list-employee-access
{
  display: flex;
  margin-bottom:2px;
  margin-right: 5px;
  font-size: 12px;
}
.list-employee-access.active,
.list-employee-access:hover
{
  cursor: pointer;
}
.list-employee-access input[type="checkbox"], .list-employee-access input[type="radio"]
{
  margin-right: 10px;
  margin-top: 13px;
}
.employee-name-custom
{
  cursor: pointer;
  width: 100%;
}
.list-employee-access img
{
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
}
.popover-employee-email
{
  position: relative;
  top: -2px;
  color: #7D7D91;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0px;
}
.checkbox-border
{
  border: none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  outline: none;
}
.container-project-popover
{
  height: 166px;
  overflow-y: auto;
}
.container-project-popover::-webkit-scrollbar {
  width: 0px;
}

.container-project-popover::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.container-project-popover::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}
.item-element-class
{
  width: 100%;
  display: inline-block;
}
.list-project-access
{

  margin-bottom: 2px;
  /* margin-left: 5px; */
  line-height: 30px;
  display: inline-flex;
  width: 100%;
  font-size: 13px;
}
.list-project-access label
{
  width: 100%;
}
.list-project-access.active,
.list-project-access:hover
{
  cursor: pointer;
}
.list-project-access input[type="radio"], .list-project-access input[type="checkbox"]
{
  margin-left: 10px;
  margin-top: 7px;
}
.list-project-access svg
{
  margin-right: 5px;
  margin-top: 5px;
}

.title-label-search
{
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 5px;
  color:black;
}

.container-color-popover
{
  overflow-y: auto;
  width: 176px;
}
.container-color-popover::-webkit-scrollbar {
  width: 0px;
}

.container-color-popover::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.container-color-popover::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.list-color-access {
  display: table-cell;
  margin-bottom: 2px;
  padding: 2px 5px 5px 5px;
  margin-right: 5px;
  line-height: 25px;
  width: 30px;
  border-radius: 7px;
  height: 30px;
  float: left;



}
.checkcolor
{
  display: none;
}
.list-color-access.active,
.list-color-access:hover
{
  border:2px solid black;
  cursor: pointer;
  padding: 2px;
}
.list-color-access.active .checkcolor
{
  display: table;
  margin: 3px auto;
}
.color_container input[type="checkbox"], .color_container input[type="radio"]
{
  margin-right: 10px;
  margin-top: 10px;
}
.checkcolor svg {
  display: block;
}
.container-tags-popover
{
  height: 220px;
  overflow-y: auto;
  margin-top: 10px;
  width: 220px;
}

.container-tags-popover::-webkit-scrollbar {
  width: 0px;
}

.container-tags-popover::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.container-color-popover::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}



.list-tags-access
{
  margin-bottom: 2px;
  padding: 2px 5px 2px 5px;
  /* margin-left: 5px; */
  line-height: 30px;
  font-size: 13px;
  display: inline-flex;
  width: 100%;
}
.list-tags-access.active,
.list-tags-access:hover
{
  cursor: pointer;
}
.list-tags-access input[type="checkbox"]
{
  margin-left: 10px;
  margin-top: 7px;

}
.list-tags-access label
{
  display: inline-block;
  width: 100%;
}
.list-tags-access svg
{
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.btn-orange {

  background-color: #F5B049;
  border-color: #F5B049;
  float: right;
  width: 100px;
  border-radius: 0;
  color: white;
  font-size: 16px;
}
.btn-empty
{
  background-color: transparent;
  border-color: #D7D7D9;
  float: left;
  width: 140px;
  border-radius: 0;
  color: black;
  font-size: 14px;
}
.btn-transperant
{
  background-color: transparent;
  border:1px solid #AAAAAA;
  width: 100px;
  border-radius: 0;
  color:black;
  font-size: 14px;
  margin-top: 10px;
}
.popover-container-button
{
  height: 60px;
  background-color: white;
  width: 100%;
  padding: 10px;
  line-height: 50px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.column-resize
{
  height: calc(100vh - var(--hex-parent-height));
  overflow-y: auto;
  position: relative;
}
.nav-scroll {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  overflow-y: visible;
  justify-content: flex-start;
}

.nav-scroll::-webkit-scrollbar {
  width: 0;
}

.column-resize::-webkit-scrollbar {
  width: 0px;
}

.column-resize::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.column-resize::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100%;
}
.form-send-message
{
  width: 100%;
  display: table;
}
input {
  outline: 0;
  outline-offset: 0;
}
.checklist-custom
{
  width: 100%;
  display: inline-block;
}
.check-padding
{
  margin-left: 5px;
}
.form-control-custom-date
{
  border-radius: 0;
  border: none;
  outline: none;
  outline-color: white;
  height: 24px;
  background: transparent;
  padding: 0;
  font-size: 14px;
  margin-right: -10px;
  width: 147px;
}
.custom-dropdown
{
  top: 25px;
  color: black;
  background: white;
  font-size: 13px;
  right: 0;
  left: 2px;
  width: 120px;
}
.custom-dropdown a:hover, .custom-dropdown a:focus, .custom-dropdown a.active
{
  background-color:#F5B049;
}
.check-custom-project
{
  float: right;
}
.form-control-custom
{
  border-right:1px solid #F0F0F0;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input-group-custom
{
  border-left:1px solid #F0F0F0;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.title-popover-repeat
{
  display: table-cell;
  width: 100%;
}
.title-active-head
{
  font-size:14px;
}
.title-active-head:hover, .title-active-head:focus, .title-active-head.active
{
  color: #FF9123;
}

.color_container
{
  display: flex;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  position: relative;
  user-select: none;
}
.custom-checkbox+label::after {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  position: absolute;
  right: 0;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55% 100%;
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::after {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::after {

  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::after {
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::after {
}
.custom-checkbox:checked+label::after {
  background-image: url("data:image/svg+xml,%3csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 20'%3e%3cpath fill='%23000' d='M24.4107 1.30299C25.2766 2.02718 25.3681 3.2892 24.6148 4.1218L11.8142 18.2718C10.8103 19.3815 9.06094 19.4991 7.9062 18.5344L0.902667 12.6839C0.0362917 11.9601 -0.0558157 10.6982 0.69694 9.86518C1.44969 9.0322 2.76226 8.94364 3.62864 9.66738L9.58691 14.6447L21.4789 1.49931C22.2321 0.666707 23.5447 0.578813 24.4107 1.30299z'/%3e%3c/svg%3e");
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::after {
  background-color: #e9ecef;
}
label
{
  overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: break-word;
  word-break: keep-all;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: loose;  /* нет поддержки для русского языка */
  -webkit-hyphens: none; -ms-hyphens: none; hyphens: none;  /* значение auto не поддерживается Chrome */
}
.input-group-attach
{
  padding: 0 1px;
  height: 36px;
  border: none;
  background: #F4F5F7;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form-send-message .input-group
{
}
.text-group-design
{
  background: #F4F5F7;
  min-height: 40px;
  border:none;
  padding: 9px 3px;
  width: 100% !important;
}
.input-group-btn-send
{
  background: #F4F5F7;
  height: 36px;
  padding: 4px 8px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
}
.parent-name
{
  color:gray;
  font-size: 13px;

}
.item {
  cursor: pointer;
  line-height: 1.5;
}
.item-child {
  cursor: pointer;
  line-height: 1.5;
  padding-left: 30px
}
.bold {
  font-weight: bold;
}
.svg-control-tree
{
  position: relative;
  top: 7px;
}
.body-repeat-custom
{
  display: table;
  width: 317px;
}
.tab-content
{
  width: 100%;
  display: inline-block;
  position: relative;
  min-height:100px;
}
.form-group-button
{
  float: right;
}
.every-month-button
{
  float: right;
}
.ready-button
{
  margin: 5px auto;
  display: table;
}
.btn-save-repeat
{
  width: 85px;
  height: 25px;
  font-size: 11px;
  color: gray;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 7px;
  border: 1px solid gray;
}
.btn-cancel-repeat
{
  width: 85px;
  height: 25px;
  font-size: 11px;
  color: gray;
  float: left;
  margin-right: 5px;
  border-radius: 7px;
  border: 1px solid gray;
}
.top-panel-repeat
{
  margin:0 auto;
  display: table;
}
.repeat-seleclist label
{
  margin-right: 10px;
  font-size:13px;
}

.tab-content-repeat
{
  padding: 1px;
  margin-top: 10px;
}
.every-content
{
  display: flex;
  font-size:12px;

}
.top-panel-repeat label
{
  margin-right: 5px;
  margin-top: 0;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.everyweek-content
{
  font-size:12px;
  float: left;
}
.everyweek-content label
{
  margin-right: 5px;
  margin-top: 0px;
}
.form-everyweek-container
{
  margin-left: 0;
  width: 225px;
  display: inline-block;
}
.btn-day-week
{
  background: #F0F0F0;
  padding: 5px;
  height: 20px;
  width: 35px;
  border: 1px solid #F0F0F0;
  display: inline;
  color: gray;
  font-size: 12px;
  line-height: 8px;
  margin-right: 2px;
}
.btn-day-week:hover, .btn-day-week.active
{
  border:1px solid black;
}

.everymonth-content
{
  font-size:12px;
}
.everymonth-content label
{
  margin-top: 0;
}
.form-everymonth-container
{
}
.btn-day-month
{
  padding: 5px;
  height: 31px;
  width: 31px;
  margin: 2px;
  border-radius:25px;
  color: black;
  font-size: 14px;
  line-height: 8px;
}
.btn-day-month:hover, .btn-day-month.active
{
  background: #F5B44A;
}

.everyyear-content
{
  font-size:12px;
  float: left;
}
.everyyear-content label
{
  margin-right: 10px;
  margin-top: 2px;
}
.form-everyyear-container
{

}
.btn-day-year
{
  padding: 5px;
  height: 30px;
  width: 30px;
  margin: 2px;
  border-radius:25px;
  display: inline;
  color: black;
  font-size: 14px;
  line-height: 8px;
}
.btn-day-year:hover, .btn-day-year.active
{
  background: #F5B44A;
}
.btn-month-year
{
  padding: 5px;
  height: 30px;
  width: 30px;
  margin: 2px;
  border-radius:25px;
  display: inline;
  color: black;
  font-size: 14px;
  line-height: 8px;
}
.btn-month-year:hover, .btn-month-year.active
{
  background: #F5B44A;
}
.everymonthtype
{
  display: none;
  margin: 0 auto;
}
.everymonthtype.showselect
{
  width: 100%;
  display: table;
}
.everyyeartype
{
  display: none;
}
.everyyeartype.showselect
{
  display: flex;
}
.everyyearbuttontype
{
  display: none;
}
.everyyearbuttontype.showselect
{
  display: table;
  width: 100%;
}
.title-repeat-custom {
  color: black;
  position: relative;
  font-size: 13px;
  vertical-align: middle;
  width: 100%;
}
.btn-width-custom:first-child
{
  border-bottom-left-radius: 7px;
  border-top-left-radius:7px
}
.btn-width-custom:last-child
{
  border-bottom-right-radius: 7px;
  border-top-right-radius:7px
}
.btn-width-custom {
  color: black;
  border-radius: 0;
  background: #f0f0f0;
  padding: 4px;
  margin: 0;
  float: left;
  line-height: 9px;
  height: 20px;
  font-size: 10px;
}
.btn-width-custom:hover, .btn-width-custom:focus, .btn-width-custom.active
{
  background: #FF9123;
  color:#ffffff;
  cursor: pointer;
}
.title-repeat-head-center
{
  display: table;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  top: 7px;
  color:black;
  font-weight: bold;
}
.title-repeat-head-right
{
  position: absolute;
  right:20px;
  top: 7px;
  cursor: pointer;
  color:#007AFF;
}
#tooltip {

}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
.popper
{
}
.breadcrumbs
{
  padding: 7px 3px;
  display: table;
}
.nopadding {
  padding: 0;
  margin-right: 5px;
}
.calendar-custom
{

}
.custom-border-divider
{
  margin: 10px 0 0 15px;
  padding-left: 5px;
  border: 1px solid rgba(62, 59, 54, 0.15);
}
.example-1
{
  width: 40px;
}
.example-1 input[type=file]
{
  outline:0;
  opacity:0;
  width: 40px;
  pointer-events: none;
  user-select:none
}
.example-1 .label
{
  width: 40px;
  cursor: pointer;
  text-align: center;
  top: 10px;
  height: 40px;
}
.example-1 .label svg
{
  width: 40px;
  position: relative;
  top: 10px;
}
.example-1 .label i
{
  display:block;
  font-size:42px;
  padding-bottom:16px
}
.example-1 .label i,.example-1 .label .title
{
  color:grey;
  transition:200ms color
}
.example-1 .label:hover
{
}
.example-1 .label:hover i,.example-1 .label:hover .title
{
  color:#000
}
.comment-custom {
  border: 1px solid white;
  overflow:hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
  display: block;
  height: 100%;
}
.taskName-custom {
  border: 1px solid white;
  overflow:hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
  display: block;
  height: 100%;
  min-height: 20px;
  padding:0;
}
.bottom {
  position: absolute;
  top: 40%;
  left: 45%;
}
.bottom1 {
  position: absolute;
  top: 40%;
  left: 45%;
}
.display-none
{
  display: none;
}
.popper-employees .popper
{
  margin-top: 30px !important;
  display: inline;
}
.popper-access .popper
{
  margin-top: 30px !important;
  display: inline;
}
.popper
{

}
.popper-calendar .popper
{
  margin-top: 30px !important;
  display: inline;
}
.popper-repeat .popper
{
  margin-top: 30px !important;
  display: inline;
}
.popper-reminder .popper
{
  margin-top: 30px !important;
  display: inline;
}
.popper-project .popper
{
  margin-top: 30px !important;
  display: inline;
}
.popper-color .popper
{
  margin-top: 30px !important;
  display: inline;
}
.popper-tags .popper
{
  margin-top: 30px !important;
  display: inline;
}
.form-group1 input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group1 label {
  position: relative;
  cursor: pointer;
}

.form-group1 label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group1 input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.tabs-component {
}

.tabs-component-tabs {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
  }
}

.tabs-component-tab {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
}

.tabs-component-tab:not(:last-child) {

}

.tabs-component-tab:hover {
  color: #666;
}

.tabs-component-tab.is-active {
  color: #000;
}

.tabs-component-tab.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}

@media (min-width: 700px) {
  .tabs-component-tab:first-child {
    color: black;
    background: #f0f0f0;
    padding: 4px;
    margin: 0;
    float: left;
    line-height: 9px;
    height: 20px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    font-size: 10px;
    transition: transform .3s ease;
  }
  .tabs-component-tab:last-child {
    color: black;
    background: #f0f0f0;
    padding: 4px;
    margin: 0;
    float: left;
    line-height: 9px;
    height: 20px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 10px;
    transition: transform .3s ease;
  }
  .tabs-component-tab {
    color: black;
    background: #f0f0f0;
    padding: 4px;
    margin: 0;
    float: left;
    line-height: 9px;
    height: 20px;
    font-size: 10px;
    transition: transform .3s ease;
  }
  .tabs-component-tab.is-active {
    background: #FF9123;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    transform: translateY(0);
  }
}

.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  font-weight: normal;
  text-decoration: none;
}

.tabs-component-panels {
}

@media (min-width: 700px) {
  .tabs-component-panels {


  }
}

.calendar-properties
{

}
.any-list-custom .custom-dropdown
{
  display: none;
}
.any-list-custom:hover .custom-dropdown, .any-list-custom.active .custom-dropdown
{
  display: block;
}
.btn-access-popover
{
  display: none;
}
.btn-access-popover.showb
{
  display: table;
}
.btn-access-popover
{
  display: none;
}
.btn-access-popover.showb
{
  display: table;
}
.right-click-menu
{
  display: none;
}
.right-click-menu.contextmenuactive
{
  display: block;
}
#right-click-menu{
  background: #FAFAFA;
  border: 1px solid #BDBDBD;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 250px;
  z-index: 999999;
}

#right-click-menu li {
  border-bottom: 1px solid #E0E0E0;
  margin: 0;
  padding: 5px 35px;
}

#right-click-menu li:last-child {
  border-bottom: none;
}

#right-click-menu li:hover {
  background: #1E88E5;
  color: #FAFAFA;
}
.col-md-6
{
  width:50%;
  float:left
}
.col-md-4
{
  width:33.33333%;
  float:left
}
.col-md-3
{
  width:25%;
  float:left
}
.checklistadd
{
  display: none;
}
.checklistadd.checklistnew
{
  display: flex;
}
.add-new-check
{
  display: none;
}
.add-new-check.checklistnew
{
  display: flex;
}
.btn-addcheclist
{
  display: none;
}
.btn-addcheclist.checklistnew
{
  display: flex;
}
.placeholderchecklist
{
  position: relative;
  top: -5px;
}
.placeholderchecklist:empty:before
{
  content:attr(data-placeholder);
  color:gray
}
.checklist-list li
{

}
.checkdellist
{
  text-decoration: none;
}
.checkdellist.linethoud
{
  text-decoration: line-through;
}
.сopypastefiles
{
  min-height: 40px;
}
.lineloadfile
{
  padding:5px;
  border-top:1px solid #DDDFE0;
  border-bottom:1px solid #DDDFE0;
  width:100%;
  display:inline-block;
  margin:2px
}
.img-title-custom
{
  margin-left:10px;
  margin-top:10px;
  float:left;
}
.img-preview-custom
{
  width:50px;
  float:left;
}
.timestamp-custom
{
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.form-arrow
{
  position: relative;
  width: 150px;
  margin-left: 20px;
}
.form-arrow input
{
  border-top:1px solid #cbcbcb;
  border-bottom:1px solid #cbcbcb;
  border-left:1px solid #cbcbcb;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  height: 30px;
  width: 150px;
  font-size: 16px;
  padding: 6px 12px;
}
.input-group-time-addon
{
  border-right: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.vc-timestamp-select-arrow
{
}
.timeselectstart
{

  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 5px;
}
.timeselectend
{

  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 5px;
}
.col-time-custome
{
  line-height: 23px;
  text-align: center;
}
audio
{
  width: 268px;
  border-bottom: 1px solid #c9c7c7;
}
audio::-webkit-media-controls-enclosure {
  background-color: transparent;
  border-bottom: 1px solid #f0f0f0;
}
audio::-webkit-media-controls-timeline {}
audio::-webkit-media-controls-volume-control-container {}
audio::-webkit-media-controls-volume-control-container.closed {}
audio::-webkit-media-controls-volume-slider-container {}
audio::-webkit-media-controls-volume-slider {}
audio::-webkit-media-controls-seek-back-button {}
audio::-webkit-media-controls-seek-forward-button {}
audio::-webkit-media-controls-fullscreen-button {}
audio::-webkit-media-controls-rewind-button {}
audio::-webkit-media-controls-return-to-realtime-button {}
audio::-webkit-media-controls-toggle-closed-captions-button {}
.btn-timestamp
{
  background-color: white;
  padding: 2px;
}
.btn-timestamp.timeBtnActive
{
  background-color: #F5B44A;
  border-radius:5px;
}
.form_radio_btn {
  line-height: 20px;
}
.form_radio_btn input[type=radio] {
  display: none;
}
.form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0 8px;
  line-height: 27px;
  border-radius: 6px;
  user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
  background: #ffe0a6;
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}
.form-control-select-repeat
{
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 155px;
}
.form-control-width-100
{
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.select-repeat-control
{
  padding: 6px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin:0 auto;
  display: table;
}
.form_radio_btn-custom {
  line-height: 20px;
  float: left;
  text-align: center;
  height: 31px;
  width: 31px;
  margin: 2px;
  border-radius:25px;
  color: black;
  font-size: 14px;
}
.form_radio_btn-custo:hover
{
  background: #F5B44A;
}
.form_radio_btn-custom input[type=radio] {
  display: none;
}
.form_radio_btn-custom {
}
.form_radio_btn-custom label {
  cursor: pointer;
  user-select: none;
  line-height: 20px;
  float: left;
  text-align: center;
  padding: 5px;
  height: 31px;
  width: 31px;
  margin: 2px;
  border-radius:25px;
  color: black;
  font-size: 14px;
}

/* Checked */
.form_radio_btn-custom input[type=radio]:checked + label {
  background: #F5B44A;
  height: 31px;
  border-radius:25px;
  width: 31px;
  padding: 5px;
}

/* Hover */
.form_radio_btn-custom label:hover {
  color: #666;
}

/* Disabled */
.form_radio_btn-custom input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}



.form_checkbox_btn-custom {
  line-height: 20px;
  float: left;
  text-align: center;
  height: 31px;
  width: 31px;
  margin: 2px;
  border-radius:25px;
  color: black;
  font-size: 14px;
}
.form_checkbox_btn-custo:hover
{
  background: #F5B44A;
}
.form_checkbox_btn-custom input[type=checkbox] {
  display: none;
}
.form_checkboxbtn-custom {
}
.form_checkbox_btn-custom label {
  cursor: pointer;
  user-select: none;
  line-height: 20px;
  float: left;
  text-align: center;
  padding: 5px;
  height: 31px;
  width: 32px;
  margin: 2px;
  border-radius:25px;
  color: black;
  font-size: 14px;
}

/* Checked */
.form_checkbox_btn-custom input[type=checkbox]:checked + label {
  background: #F5B44A;
  height: 31px;
  border-radius:25px;
  width: 32px;
  padding: 5px;
}

/* Hover */
.form_checkbox_btn-custom label:hover {
  color: #666;
}

/* Disabled */
.form_checkbox_btn-custom input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}





.form_label {
  position: relative;
  min-height: 88px;
}

.form_text {
  vertical-align: top;
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #686ea1;
}

.form_text:after {
  content: "*";
  position: relative;
  top: 0;
  font-size: 13px;
  color: #f00;
}

.form_label input,
.field_multiselect {
  position: relative;
  width: 100%;
  display: block;
  min-height: 46px;
  border: 1px solid #cdd6f3;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 40px 10px 16px;
  font-size: 14px;
  color: #a8acc9;
  outline-color: #cdd6f3;
}
.form_label input::placeholder,
.field_multiselect::placeholder {
  color: #a8acc9;
}
.form_label input:hover,
.field_multiselect:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
}
.form_label input:focus,
.field_multiselect:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
}

.field_multiselect_help {
  position: absolute;
  max-width: 100%;
  background-color: #fff;
  top: -48px;
  left: 0;
  opacity: 0;
}

.form_label input.error {
  border-color: #eb5757;
}

.error_text {
  color: #eb5757;
}

.field_multiselect {
  padding-right: 60px;
}
.field_multiselect:after {
  content: "";
  position: absolute;
  right: 14px;
  top: 15px;
  width: 6px;
  height: 16px;
  background: url("data:image/svg+xml,%3Csvg width='6' height='16' viewBox='0 0 6 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0L6 5H0L3 0Z' fill='%23A8ACC9'/%3E%3Cpath d='M3 16L6 11H0L3 16Z' fill='%23A8ACC9'/%3E%3C/svg%3E") 50% 50% no-repeat;
}

.multiselect_block {
  position: relative;
  width: 100%;
}

.field_select {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  border: 2px solid #cdd6f3;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-sizing: border-box;
  outline-color: #cdd6f3;
  z-index: 6;
}

.field_select[multiple] {
  overflow-y: auto;
}

.field_select option {
  display: block;
  padding: 8px 16px;
  width: calc(370px - 32px);
  cursor: pointer;
}
.field_select option:checked {
  background-color: #eceff3;
}
.field_select option:hover {
  background-color: #d5e8fb;
}

.field_multiselect button {
  position: relative;
  padding: 7px 34px 7px 8px;
  background: #ebe4fb;
  border-radius: 4px;
  margin-right: 9px;
  margin-bottom: 10px;
}
.field_multiselect button:hover, .field_multiselect button:focus {
  background-color: #dbd1ee;
}
.field_multiselect button:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4958 6.49499C19.7691 6.22162 19.7691 5.7784 19.4958 5.50504C19.2224 5.23167 18.7792 5.23167 18.5058 5.50504L12.5008 11.5101L6.49576 5.50504C6.22239 5.23167 5.77917 5.23167 5.50581 5.50504C5.23244 5.7784 5.23244 6.22162 5.50581 6.49499L11.5108 12.5L5.50581 18.505C5.23244 18.7784 5.23244 19.2216 5.50581 19.495C5.77917 19.7684 6.22239 19.7684 6.49576 19.495L12.5008 13.49L18.5058 19.495C18.7792 19.7684 19.2224 19.7684 19.4958 19.495C19.7691 19.2216 19.7691 18.7784 19.4958 18.505L13.4907 12.5L19.4958 6.49499Z' fill='%234F5588'/%3E%3C/svg%3E") 50% 50% no-repeat;
  background-size: contain;
}

.multiselect_label {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 100%;
  height: 44px;
  cursor: pointer;
  z-index: 3;
}

.field_select {
  display: none;
}

input.multiselect_checkbox {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: none;
  opacity: 0;
}

.multiselect_checkbox:checked ~ .field_select {
  display: block;
}

.multiselect_checkbox:checked ~ .multiselect_label {
  width: 40px;
  left: initial;
  right: 4px;
  background: #ffffff url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4958 6.49499C19.7691 6.22162 19.7691 5.7784 19.4958 5.50504C19.2224 5.23167 18.7792 5.23167 18.5058 5.50504L12.5008 11.5101L6.49576 5.50504C6.22239 5.23167 5.77917 5.23167 5.50581 5.50504C5.23244 5.7784 5.23244 6.22162 5.50581 6.49499L11.5108 12.5L5.50581 18.505C5.23244 18.7784 5.23244 19.2216 5.50581 19.495C5.77917 19.7684 6.22239 19.7684 6.49576 19.495L12.5008 13.49L18.5058 19.495C18.7792 19.7684 19.2224 19.7684 19.4958 19.495C19.7691 19.2216 19.7691 18.7784 19.4958 18.505L13.4907 12.5L19.4958 6.49499Z' fill='%234F5588'/%3E%3C/svg%3E") 50% 50% no-repeat;
}

.multiselect_checkbox:checked ~ .field_multiselect_help {
  opacity: 1;
}
