body {
  @apply pt-14 xl:pl-80 xl:pr-96;
}

#app {
  @apply w-screen transition-position lg:w-auto;
}

.dropdown {
  @apply cursor-pointer;
}

.m-clipped, .m-clipped body {
  @apply overflow-hidden lg:overflow-visible;
}

.full-screen body {
  @apply p-0;
}
.tags-custom
{
  border:1px solid #9E9E9E;
  padding: 4px 15px 4px 4px;
  border-radius: 5px;
  margin: 2px 2px 2px 2px;
  font-size: 13px;
  float: left;
  display: flex;
}
.tags-custom.active, .tags-custom.active svg, .tags-custom:hover, .tags-custom:hover svg
{
  background-color:#67ADF1 ;
  color:white;
  cursor:pointer;
  border:1px solid #67ADF1;
}
.tags-custom svg
{
  position:relative;
  top:1px;
  float: left;
  display: flex;
  font-size:18px;
  margin-right: 5px;
  color:#9E9E9E;
}
.text-tags
{
  position:relative;
  top:-1px;
}
.img-responsive
{
  max-width:100%;
  height: auto;
  display: block;
}
.text-center
{
  text-align: center;
}
.chat-custom
{
  width:100%;
  display: inline-block;
}
.user_customer_custom
{
  color:#9AB0D4;
  font-size: 16px;
  display: flex;
  width: 100%;
}
.user_customer_custom svg
{
  width: 15px !important;
  height: 15px !important;
  position: relative;
  top: 2px;
}
.msg-custom-chat-left
{
  float: left;
  padding: 10px;
  min-height:40px ;
  display: table;

  min-width: 150px;
  border-top-right-radius:10px ;
  border-bottom-right-radius:10px ;
  border-bottom-left-radius:10px ;
}
.msg-custom-chat-right
{
  float: right;
  padding: 10px;
  min-height:40px ;
  display: table;
  min-width: 150px;
  margin-right: 30px;
  border-top-left-radius:10px ;
  border-bottom-right-radius:10px ;
  border-bottom-left-radius:10px ;
}
.chat-main
{
  width: 100%;
  display: inline-block;
}
.time-chat
{
  text-align: right;
  font-size:12px;
  color:#A8AFCA;
}
.date-messages-chat
{
  font-size:13px;
  color:#828282;
}
.description-content
{

}
.custom-list-tags
{
  width:100%;
  display: inline-block;
}
.description-content
{
  width:100%;
  font-size:14px;
  display: inline-block;
}
.list-files-custom
{
  width:100%;
  display: inline-block;
}
.list-files-custom-item
{
  width:100%;
  display: inline-block;
}
.file-custom_attach-left
{

  padding: 10px;
  min-height:40px ;
  font-size: 13px;
  border-radius:10px ;
  display: flex;
}
.file-custom_attach-left svg
{
  margin-right: 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-top: 5px;
  width: 80%;
  float: left;
}
.file-custom_attach-right
{

  padding: 10px;
  min-height:40px ;
  font-size: 13px;
  border-radius:10px ;
  display: flex;
  width: 80%;
  float: right;
}
.file-custom_attach-right svg
{
  margin-right: 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-top: 5px;
}
.name-chat-custom
{
  font-size:13px;
  color:#A6A6A6;
  margin-right: 10px;

}
.float-left
{
  float: left;
}
.float-right
{
  float: right;
}
.chat-author-custom-right
{
  text-align: right;
  float: right;
  /* width: 100%; */
  display: flex;
}
.chat-author-custom-left
{
  text-align: left;
  float: left;
}
.border-fotolink
{
  border-radius: 25%;
  border: none;
}
.custom-method
{

}
.date-section{
  width:100%;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
}

.divider {

  margin: -0.65em auto -0.45em;
  overflow: hidden;
  text-align: center;
  line-height: 1.1em;
}
.divider:before,
.divider:after {
  content: "";
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 0.65em;
  border-bottom: 1px solid #E5E5E5;
  margin: 0 2% 0 -55%;
}
.divider:after {
  margin: 0 -55% 0 2%;
}
.text-right
{
  text-align: right;
}
.text-employee-name
{
  font-size: 13px;
  color: #A6A6A6;
  margin-right: 10px;
}
